---
import personServices from "../../person/services";
import { Group } from "../../person/types";
import personManager from "../../person/api";
import Avatar from "./Avatar.astro";
import AvatarCount from "./AvatarCount.astro";

const persons = personManager.getPersons();

const data = personServices.groupPersonsBy(
    persons,
    Group.month,
)
---

    {
            data.map(([month, persons]) => {
                const moreThanFour = persons.length > 4;
                return (
                    <article transition:name={month} class="flex max-w-[162px]  flex-auto flex-col gap-2">
                        <span class="uppercase font-bold text-xl opacity-70">
                            {month.slice(0, 3)}
                        </span>
                        <ul class="flex relative">
                            {persons
                                .slice(0, moreThanFour ? 4 : persons.length)
                                .map((person, i) => {
                                    if (i === 3 && moreThanFour) {
                                        return (
                                            <AvatarCount count={persons.length - 3} />
                                        )
                                    }
                                    return <Avatar
                                        {person}
                                        className={`sticky`}
                                        index={i}
                                    />;
                                })}
                        </ul>
                    </article>
                ); 
            })
    }
