---
import { BackIcon, ErrorIcon } from "../../icons/ui";


---

<article class="flex w-full relative bg-red-800/5 rounded-3xl text-red-900 justify-center items-center flex-col border-red-800  h-[432px] border">
    <p class="text-[98px] text-center font-extrabold flex items-center flex-col"><ErrorIcon /> 404</p>
    <p>No se encontró la página</p>
    <a aria-label="volver a los cumples" class="absolute bottom-0 items-center justify-center inline-flex p-6 z-50 left-0" href="/birthdays" ><BackIcon /> Volver</a>
</article>