---
import { ListIcon, AddIcon } from "../../icons/ui";
---

<header class="flex w-full justify-between items-center py-4 px-2">
    <h1 class="text-2xl font-extrabold">Cumpleaños</h1>
    <div class="inline-flex gap-4">
        <a aria-label="ver calendario de cumples" href="/calendar"
            ><ListIcon /></a
        >
    </div>
</header>