---
import BirthdayLayout from "../../layouts/birthday-layout.astro";


---

<BirthdayLayout>
    <section>
        <form>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" />
            <label for="date">Fecha de nacimiento</label>
            <input type="date" name="date" id="date" />
            <button type="submit">Agregar</button>
        </form>
    </section>
</BirthdayLayout>