---
import CalendarLayout from "../../layouts/calendar-layout.astro";
import { slide } from 'astro:transitions';
import AvatarGroup from "../../person/ui/AvatarGroup.astro";

---

<CalendarLayout transition:animate={slide({duration: 0.5})} transition:name="pages">

    <section class="grid grid-rows-4 grid-cols-3 gap-16 w-full justify-center items-center h-full">
        <AvatarGroup />
    </section>
   
</CalendarLayout>