---
import CalendarLayout from "../../layouts/calendar-layout.astro";
import AvatarGroup from "../../person/ui/AvatarGroup.astro";

---

<CalendarLayout>

    <section class="grid grid-rows-4 grid-cols-3 gap-8 w-full justify-center items-center h-full">
        <AvatarGroup />
    </section>
   
</CalendarLayout>