---
import { ViewTransitions } from "astro:transitions";
import BirthdayHeader from "../headers/ui/BirthdayHeader.astro";
import AvatarGroup from "../person/ui/AvatarGroup.astro";
---

<html    lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
		<ViewTransitions />
	</head>
	<body transition:persist class="w-screen min-w-[530px] m-auto overflow-clip">
		<main class="flex m-auto gap-10 max-w-xl flex-col">
			<BirthdayHeader />
			<fragment class="flex m-auto gap-10 max-w-xl flex-col" transition:name="cumple">
			<div class="w-full overflow-x-scroll">
				<section  class="flex w-max py-2 gap-2 overflow-x-auto">
					<AvatarGroup />
				</section>
			</div>
			
				<slot />
			</section>
		</fragment>
		</main>
	</body>
</html>

<style is:global>
	article {
		transition: border-radius height 0.6s;
		interpolate-size: allow-keywords;
	}
	@keyframes wide {
		from {
			height: 96px;
		}
		to {
			height: 100%;
		}
	}
</style>
