---
import { ViewTransitions } from "astro:transitions";
import CalendarHeader from "../headers/ui/CalendarHeader.astro";
import "../styles/global.css"
const anim = {
  old: {
    name: 'slide-in',
	delay: 1,
	duration: 2,
	easing: 'ease-out',
    direction: 'reverse',

  },
  new: {
    name: 'slide-in',
	duration: 2,
	delay: 1,
	easing: 'ease',
    direction: 'forward',
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};

---

<html  lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
		<ViewTransitions />
	</head>
	<body class="w-screen m-auto min-w-[530px] overflow-clip ">
		<main class="flex m-auto  gap-10 max-w-xl flex-col">
			<CalendarHeader />
			<fragment transition:animate={customTransition} transition:name="cumple">
					<slot />
			</fragment>
			
		</main>
	</body>
</html>